.pop-up{
    border: 1px solid black;
    
    border-radius: 15px;
}

.pop-up-container{
    border-top: 1px solid black;
}

.pop-up-header-title{
    height: 25px;
}

.circle {
    border-radius: 25px;
    max-width: 15px;
    max-height: 15px;

    width: 100%;
    height: 100%;
}

.danger{
    background-color: #FD0100;
}

.warning{
    background-color: #FEAF0E;
}

.success{
    background-color: #2AF80F;
}