body{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("Assets/Images/Background.jpg");;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
    height: 100vh;
    margin: 0;

    font-family: 'Pixelify Sans', sans-serif;
}

.negative {
    filter: invert(1);
}

